

* {margin: 0; padding: 0;} /* обнуляем отступы - делаем контент по центру страницы */
body{
    background: black;
    position: relative;
}

/*.wrap{
    width: 1280px;
}
*/
#wrapper{
    //position: absolute;
    left: 17%;
    //height: 1500px;
    
    background: black;
    //border-radius:0px;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    //box-shadow: 0 0 10px 4px #fff; /*тень блока*/

    //border-bottom: none;
}

#wrapper_cont{
   // position: absolute;
    left: 17%;
    top: 210px;
//height: 1500px;

    background: black;
//border-radius:0px;
    margin: 0 auto;
    margin-top: 20px;
    width: 85%;
//box-shadow: 0 0 10px 4px #fff; /*тень блока*/

//border-bottom: none;
}

/* ссылка на альбом */
.blok {
    background: darkgray;
    color: #FFF;
    cursor: pointer;
}
.blok:hover {
    background: #d98f23;
    color: #000;
}
p .blok a{
    color: white;
}

.transition1 {
    transition: background-color 3s cubic-bezier(0.1, 0.8, 0.5, 2), color 3s 1s linear;

    /* или

    transition-property: background-color, color;
    transition-duration: 3s;
    transition-delay: 0s, 1s;
    transition-timing-function: cubic-bezier(0.1, 0.8, 0.5, 2), linear;
    */
}



#wrapper_menu{
  // position: absolute;
   // top: 130px;
   // left: 17%;
//height: 1500px;
    z-index: 1;
    background: black;
//border-radius:0px;
    margin: 0 auto;
    margin-top: 20px;
    width: 85%;
    //max-width: 1280px;
//box-shadow: 0 0 10px 4px #fff; /*тень блока*/
    min-height: 200px;

//border-bottom: none;
}

/*
#wrapper:hover{
    box-shadow: 0 0 10px 4px #e4a001;
    border-bottom: none;
}
*/
#logo{
    //position: relative;
    //width: 1260px;
    background-color: black;
    padding-top: 10px;
    padding: 10px;
    padding-bottom: 10px;
    
    
}

#more{
    border-radius: 10px;
    text-align: center;
    width: 100px;
    background-color:darkgray;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    box-shadow: 0 0 10px 4px #fff; 
    margin-left: 200px;
    cursor: pointer;
    
}

#more a{
     color:#000;
}


p {

	margin: 0;
	font-family: Arial, serif, Georgia, Times New Roman, Times;
	color: #b1b1b1;

	
}

h3 {
    text-decoration: none;
    cursor: POINTER;
    color: #e4a001;
    transition: 0s 9999999s;
}

h3:hover{
    color:brown;
    transition: 3s;
}

a {

    text-decoration: none;
    color: #985f0d;
}

p a {
    text-decoration: none;
    color: #000;
}

p a:hover {

    color: #985f0d;

} 

#main a{
    text-decoration: none;
    color: #985f0d;
    transition: 0s 9999999s;
}

#main a:hover{
    color: #fff;
    transition: 3s;
}
#tel {
    padding-right: 25px;
    padding-top: 15px;
    font-size: 20px;
}

#logo p.sl {
    
    font-family: Georgia;
    padding-left: 10px;
    color: #985f0d;
    padding-top: 0px;
    padding-bottom: 0px;
}

#nav {
   // width: 85%;
    color: #bd2c2c;
    height: 90px;
    position: relative;
}

#nav div.root {

    background-color: gray;
	//float: left;
	//border: 1px solid;
	//border-radius: 10px;
	//margin: 10px;
	font-family: Arial, "Lucida Console";
	//width: 233px;
	text-align: center;
}

div.inside{
    background-color: gray;
}

#nav div.root a b{
    color: #000;
}

#nav div.root:hover {

	background-color: #bd2c2c;
    color: #ffffff;
    cursor: pointer;

}

#nav div.root a:hover {

color: #985f0d;
text-decoration: none;

}


/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#nav .inside{
    list-style:none;
    position:absolute;
    left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
    opacity:0; /* Устанавливаем начальное состояние прозрачности */
    -webkit-transition:1s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}
#nav div.inside p.drop{
    padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
    float:none;
    border-top: groove;
    cursor: pointer;


}
#nav div.inside p.drop a{
    white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
    display:block;
}
#nav div.root:hover div{ /* Выводим выпадающий пункт при наведении курсора */
    left:0; /* Приносим его обратно на экран, когда нужно */
    opacity:1; /* Делаем непрозрачным */
    position: inherit;
}

#nav div.root div p:hover{
    background-color: #bd2c2c;
}

.google_play{
    text-align: center;
    padding-bottom: 30px;
}


h3 {
    color:#985f0d;
}

.mus {

	width: 410px;
        
}


.mus p {
	text-align: center;

}

.cont {
   // position: relative;
    width: 50%;
    //height: 500px;
    background-color: #000;
    margin-top: 20px;
}

.header{
   
}

#photoContainer img {
        width: 64px;
        height: 48px;
        margin: 10px;
        cursor: pointer;
    }
    
#shadow{     /*стиль для тени*/
        position: absolute;  /*абсолютно спозиционирован*/
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.4;
     
        display: none; /*не показываем по умолчанию*/
       
        
    }    

#photo{     /*стиль для фото*/
        position: absolute;  /*абсолютно спозиционирован*/
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        
        background-repeat: no-repeat;
        background-position: center center;
         display: none; /*не показываем по умолчанию*/
    }

#phot_h{
    font-family: "Roboto", sans-serif;
    font-size: 3vw; /* 3% of viewport width */
    color: #bd2c2c;
    text-align: center;
    text-shadow:8px 8px 8px gray;
}

    
.arh{
        padding: 20px;
       padding-bottom:  230px;
      
    }
.left{
       padding: 15px;
      padding-bottom:  200px;
         
    }
    
.leftf{
        width: 215px;
        
    }
    
.centf{
        width: 860px;
        opacity: 1;
    }
    
.arhf{
          width: 215px;
    }
.main{
        position: absolute;

        //left: 290px;
        //top: 50px;
        right: 500px;
       // transition: 10s;
    }
.main p {
         padding-left: 5px;
         font-family: Georgia;
         font-size: 20px;
    }
    
    
.main td {
        color: #000;
        transition: 0s 9999999s;
    }
.main td:hover{
        color: #fff;
        transition: 3s;
    }
   
    
#play{
        //position: absolute;
        //top: 300px;
        //width: 600px;
        //left: 230px;
        //transition: 10s;
       // width: 800px;
        font-size: 20px;
        //padding-left: 100px;
        margin-top: 20px;
        text-align: center;
    }
    
#play  a{
    text-decoration: none;
	color: #985f0d;
    transition: 0s 9999999s;
    -webkit-transition: 0s 9999999s;
    -moz-transition: 0s 9999999s;
    -o-transition: 0s 9999999s;

}

#proza{
    position: absolute;
         
        left: 60px;
        right: 60px;
        
        transition: 10s;
}
/*
#play a:hover{
    color: #fff;
        transition: 3s;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -o-transition: 3s;

}
    */
#phrase{

    text-align: center;
    font-family: fantasy;
    font-size: 25px;
    }

#player {
    //width: 600px;
    text-align: center;

}

#player a, #player_first a {
    font-weight: bold;
    font-family: sans-serif;

    color: #fff;
    font-size: 16px;
}

#player_first {
    text-align: center;
}
    
#getValue{
       position: absolute;
       
        left: 0px;
        top: 300px;
        right: 0px;
        transition: 10s;
    }
    
.right_tr {
        margin: 0px;
        padding-left: 10px;
        
    }
.right_tr p{
        
        font-size: 15px;
        font-family: Georgia;
      padding-right: 10px;
      padding-bottom: 0px;
      color: #985f0d;
     
    }
    
.right{
        padding-right: 0px;
    }
    
#temp{
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 22px;
    }
    
    
   
.content {
    position: relative;
    padding: 3px; /* Поля вокруг текста */
    //min-height: 1px; /* Минимальная высота */
	background: gray; /* Цвет фона */
    border: 1px solid #fff; /* Параметры рамки */
    border-radius:10px;
   // width: 600px;
    margin-bottom: 20px;

   }

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border: 0;
    border-top: 1px solid #eee;
}
   
.content p{
       font-size: 15px;
       font-weight: bold;
       padding-left: 15px;
       padding-top: 5px;
        color: #fff;
   }


#count_ {
    font-size: 12px;
}
  
   
#text_main{
        position: absolute;
        left: 190px;
        top: 10px;
        font-weight: bold;
        font-family: sans-serif;
        padding-left: 75px;
        color: #fff;
        font-size: 11px;
        //width: 400px;
    }

#songs_name{
    font-weight: bold;
    font-family: sans-serif;
    padding-left: 15px;
    color: #fff;
    font-size: 14px;
}

#text_main a{
    cursor: pointer;
    color:#e4a001;
}

#songs_name a{
    color:#e4a001;
}
    
#nr_{
        position: absolute;
        left: 0px;
        top: 0px;
        
        
    }
    
#footer{
       // position: absolute;
        color: white;
        width: 1280px;
       top: 350px;
       left: 90px;
         text-align: center;
         font-family: Arial;
         font-size: 12px;
        border-radius: 50px;
        width: 130px;
        height: 100px;
        background-color: gray;
        box-shadow: 0 0 10px 4px #fff; 
   
          
    }

.accord{
    //width: 600px;
   /* margin-left: 80px;*/
    text-align: center;
}
    
#footer p{
           margin-top: 40px;
           margin-bottom: 10px;
            color: #985f0d;
    }
    
#footerr{
        //position: absolute;
        color: white;
        width: 1280px;
        top: 345px;
        left: 340px;
         text-align: center;
         font-family: Arial;
         font-size: 12px;
        border-radius: 50px;
        width: 130px;
        height: 100px;
        background-color: gray;
        box-shadow: 0 0 10px 4px #fff; 

    }
    
#footerr p{
           margin-top: 10px;
           margin-bottom: 10px;
           color: #985f0d;
    }
    
#pla{
        position: absolute;
        color: white;
        width: 280px;
       top: 280px;
       left: 100px;
    
    } 
    
#mish{
       // position: absolute;
        text-align: center;
       // padding-top: 15px;
       // left: 270px;
    }

#rom{
   // position: absolute;
    text-align: center;
    padding-top: 15px;
   // left: -40px;
   // max-width: 100%;
   // max-height: 90%;
}
/*
#mish {
    -webkit-animation: cssAnimation 15s 20 linear;
    -moz-animation: cssAnimation 15s 20 linear;
    -o-animation: cssAnimation 15s 20 linear;
}
@-webkit-keyframes cssAnimation {
    from { -webkit-transform: rotate(140deg) scale(0.1) skew(92deg) translate(300px); }
    to { -webkit-transform: rotate(360deg) scale(1.5) skew(180deg) translate(18px); }
}
@-moz-keyframes cssAnimation {
    from { -moz-transform: rotate(140deg) scale(0.1) skew(92deg) translate(300px); }
    to { -moz-transform: rotate(360deg) scale(1.5) skew(180deg) translate(18px); }
}
@-o-keyframes cssAnimation {
    from { -o-transform: rotate(140deg) scale(0.1) skew(92deg) translate(300px); }
    to { -o-transform: rotate(360deg) scale(1.5) skew(180deg) translate(18px); }
}
 */
#liv{
        position: absolute;
        top: 710px;
       left: 150px;
    }
    
#val{
        position: absolute;
        top: 710px;
       right: 150px;
    }

.pagination{
    margin: 0;
    text-align: center;
    padding-left: 213px;
    padding-bottom: 20px;
    width: 1000px;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 0.3;
    color: #b79824;
    text-decoration: none;
    background-color: #000;
    border: none;
}

.pagination > .active > a{
    z-index: 2;
    /*color: #fff;*/
    cursor: default;
    color: black;
    background-color: #bd2c2c;
    border:none 15px #000000;
    -moz-border-radius-topleft: 75px;
    -moz-border-radius-topright:75px;
    -moz-border-radius-bottomleft:75px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:75px;
    -webkit-border-top-right-radius:75px;
    -webkit-border-bottom-left-radius:75px;
    -webkit-border-bottom-right-radius:75px;
    border-top-left-radius:75px;
    border-top-right-radius:75px;
    border-bottom-left-radius:75px;
    border-bottom-right-radius:75px;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {

    background-color: #000000;

}

.smallest{
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #897845;
}

.hd{
    text-align: center;
}

.hd span{
    font-size: 14px;
    color: #b79824;

}

.hd span:hover{
    color:brown;
    transition: 3s;
    cursor: pointer;
}

#text_contakt {
    /*position: absolute;*/
    left: 350px;
    top: 40px;
    font-weight: bold;
    font-family: sans-serif;
    padding-left: 75px;
    color: #000;
    font-size: 14px;
    width: 400px;
}

input {
    color: black;
}

.phrasa p{
    text-align: center;
    //padding-right: 100px;
    padding-bottom: 20px;

}


@media (min-width:992px) and (max-width:1199px){
    #rom,
    #footer
    {
        left: -10000px;
    }

}

@media(min-width:300px) and (max-width: 991px) {
    #mish,
    #rom,
    #footerr,
    #footer{
        left: -10000px;
    }
    #wrapper,#wrapper_cont,#wrapper_menu{
        //text-align: center;
        width: 90%;
        left: 10px;
    }
    #wrapper_menu{
        top: 230px;
    }
    #wrapper{
       // height: auto;
    }
    #wrapper_cont{
        top: 400px;
    }
    #nav{
        width: 100%;

    }
    #play {
        width: 100%;
        font-size: 15px;
        padding-left: 0px;
    }
    #text_main {

        font-weight: bold;
        font-family: sans-serif;
        //padding-left: 75px;
        color: #fff;
        font-size: 14px;
        width: 400px;
    }


    #phot_h {

        font-size: 30px;
    }
    .cont{
        width: 100%;
    }

    .content{
        width: 100%;
        position: inherit;
    }

    .content img{
        width: 100%;
        height: 100%;
    }


    #text_main{
        position: inherit;
       top: 97%;
       left: 0;
        padding: 3px; /* Поля вокруг текста */
        //min-height: 1px; /* Минимальная высота */
        background: gray; /* Цвет фона */
        border: 1px solid #fff; /* Параметры рамки */
        border-radius:10px;
        width: 100%;
        margin-bottom: 0px;
        font-weight: bold;
        font-family: sans-serif;
        padding-left: 15px;
        color: #fff;
        font-size: 14px;

    }

    #phrase {

        font-size: 20px;
    }

    .phrasa p {

        padding-right: 0px;
    }

    #nav div.root {

        border-bottom: 1px solid #e4a001; /* Параметры рамки */
        cursor: pointer;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    #nav div.inside p.drop{
        background-color: #e4a001;
    }

    #songs_name{
        padding-left: 15px;

    }


    .accord{
        width: 100%;
        margin-left: 0px;
    }

    h3{
        font-size: 20px;
    }

    iframe{
        width: 100%;
    }

    .pagination {
        padding-left: 30%;
    }

    #player {
        width: 90%;
    }


}
