html,
body {
    height: 100%;
    background-color: #3c3c3c;
    color: white;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgb(93, 93, 93);
}

.redactor-editor, .redactor-box{
    background-color: rgb(93, 93, 93);
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.testLink{
    cursor: pointer;
}

#code_1, #code_2, #code_3, #code_4, #code_5, #code_6, #code_7, #code_8, #code_9,
#code_10, #code_11, #code_12, #code_13, #code_14, #code_15, #code_16, #code_17,
#code_18, #code_19, #code_20, #code_21, #code_22, #code_23, #code_24, #code_25, #code_26,
#code_27, #code_28, #code_29, #code_30
{
    display: none;
}

.song-text{
    font-size: 14px;
    color: #08150b;
}

.song-name{
    font-size: 18px;
    color: #e0d19a;
}
