/* GlOBAL
------------------------------------------------------------------------------*/
body{background: #654e73 url(../img/bg.jpg) repeat;  color:#333333; font-size: 13px; line-height: 24px; font-family: 'PT Mono', sans-serif;}
*{box-sizing: border-box!important; -webkit-box-sizing: border-box!important; -moz-box-sizing: border-box!important;}
a{color: #333333; text-decoration: none;}
a:hover,
a:focus{color: #5173a2; text-decoration: none; outline:none; outline-color: transparent!important;}


.block{display: block;}
.tbl{display: table;}
.rel{position: relative;}
.abs{position: absolute;}

.mt0{margin-top: 0px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;display: inline-block;width: 100%;margin-bottom: 10px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}

.mb0{margin-bottom: 0px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}

.upper{text-transform: uppercase; letter-spacing: .6px;}
.italic{font-style: italic;}
.snormal{font-style: normal;}

.thin{font-weight: 100;}
.light{font-weight: 300;}
.fnormal{font-weight: 400!important;}
.semi500{font-weight: 500;}
.semi600{font-weight: 600;}
.bold{font-weight: 700;}
.extra{font-weight: 800;}

.rel{position: relative;}
.abs{position: absolute;}

.white{color:#ffffff;}
.black{color:#000000;}

.mh{min-height: 1px;}
.br5{border-radius:5px;}

.container{position: relative; width: 1180px; margin-right: auto;  margin-left: auto; padding: 0;}
.clearfix{clear: both;}
.clearfix:after, 
.clearfix:before,
.container:berore,
.container:after,
.row:after{display: table;  content: "";}
.row{margin: 0; padding: 0;}


header{background: white url(../img/hb.png) repeat  0 0;  display: table; width: 100%;margin-bottom: 20px; margin-top: 20px;text-align: left;box-shadow: 0 0 70px rgba(0,0,0,.2);}
header .logo{padding: 13px 60px 10px;position: relative;margin: 0 auto;display: inline-block;}
.header__search{display: block;float: right;padding: 17px 20px 17px;width: 460px;position: relative;}
.header__search input{background: transparent; border: 2px dotted white; height: 47px; padding: 5px 50px 5px 20px;width: 100%; color:white;font-family: inherit;font-size: 18px;border-radius: 20px;}
.header__search input:focus{color:white; border-color:black; outline-color: transparent;}
.header__search button{background: transparent; border:none; box-shadow: none;position: absolute;right: 27px;top: 24px;background: url(../img/sb.png) no-repeat center center;width: 35px;height: 35px;padding: 0;margin: 0;}
.header__search button:hover,
.header__search button:focus{opacity: .6; outline-color: transparent;}

.header__search input::-webkit-input-placeholder {color:white;}
.header__search input::-moz-placeholder          {color:white;}/* Firefox 19+ */
.header__search input:-moz-placeholder           {color:white;}/* Firefox 18- */
.header__search input:-ms-input-placeholder      {color:white;}

.posts{background: #ffffff; padding: 20px; float: left;box-shadow: 0 0 70px rgba(0,0,0,.2);}
.post{width: 275px; display: inline-block; vertical-align: top; margin-bottom: 35px;position: relative;}
.post a{display: block;}
.post a img{display: block; max-width: 100%; height: auto;}
.post a > span {overflow: hidden; height:150px; display: block;}
.post a h2{font-weight: 400; font-size: 15px; line-height: 18px; color: #333333; margin: 15px 0 0 0;padding: 2px 0 0 10px;min-height: 70px;text-align: center;border-bottom: 4px solid #a6220f;padding-bottom: 10px;}
.post a:hover h2{color: #a6220f;}
.post h2 span{display: block; color: #a6220f;}
.posts .post + .post{margin-left: 5px;}

.single{width: 866px; margin-right: 14px; float: left; background: #ffffff; padding: 5px;}
.single__title{font-size: 27px; line-height: 36px; color: #333333; font-weight: 400;margin-bottom: 0;margin-left: 10px;padding-top: 0px;padding-bottom: 15px;padding-left: 40px;background: url(../img/h2bg.png) no-repeat top left;}
.single__subtitle{color: #5d8df0; font-size: 24px; line-height: 32px;  font-weight: 400;margin-bottom: 5px;}

.single__meta{text-align: center;}
.likes{float: left; margin-right: 30px;margin-bottom: 30px;}
.likes button{background-color: white; border:1px solid #000000; color:#000000; font-size: 18px; padding: 5px 35px 5px 15px;}
.likes button.l__like{background: url(../img/like.png) no-repeat 90% center;}
.likes button.l__dislike{background: url(../img/dislike.png) no-repeat 90% center;}
.likes button:hover{background-color: #5d8df0; border:1px solid #5d8df0; color:#000000;}

.stars{padding: 5px;}
.s_star{background: url(../img/star.png) no-repeat center center;width: 24px;height: 24px;display: inline-block;}
.s_star-o{background: url(../img/star-o.png) no-repeat center center;width: 24px;height: 24px;display: inline-block;}
.s_tit{font-size: 14px;line-height: 17px;display: inline-block;vertical-align: top;margin-left: 30px;}
.s_tit span{display: block;}
.social{text-align: center;}

.single p{color: #000000; font-size: 14px; line-height: 20px;margin-top: 0; margin-bottom: 20px;text-align: c;}
.single__img{max-width: 100%;display: block;width: 100%;}

.single__like{background: #f5f5f5; padding: 10px;text-align: center;}
.single__like-inner a{border: 1px solid #333333; font-size: 27px;  padding: 13px 35px;  border-radius: 11px;  color: #646464;display: inline-block;position: relative;}
.single__like-inner a:hover{color: #000000;}
.single__like-inner a.prev{padding-right: 59px;}
.single__like-inner a.prev:after{position: absolute; content:"+"; font-size: 64px; line-height: 42px;top: 3px;right: 10px;text-indent: 0;}
.single__like-inner a.next{padding-left: 49px;}
.single__like-inner a.next:before{position: absolute; content:"-"; font-size: 64px; line-height: 42px;  top: -2px; left: 17px;text-indent: 0;}
.single__like span{color: #979797; font-size: 30px;width: 50%;display: inline-block;}
.single__pager-inner span.count:after{width: 100%; height: 3px;  content:'';display: block;position: absolute;left: 0;top: 25px;z-index: -1;}
.single__social{margin-bottom: 10px; background: white; display: block; width:100%;text-align: center;}

.single__pager{text-align: center; display: inline-block; width: 100%; position: relative;     padding: 0 10%;}
.single__pager-inner a{background: #878787; font-size: 16px;  padding: 0; border-radius: 5px; color: #ffffff;display: inline-block;width: 230px;position: relative;z-index: 1;}
.single__pager-inner a:hover{color:#ffffff; background: #a6220f;}
.single__pager-inner span.count{margin-left: 20px; margin-right: 20px; font-size: 25px; color: #333333; font-weight: 400;padding: 15px;display: inline-block;background: white;}
.single__pager-inner a.prev{left: 0px; float: left;}
.single__pager-inner a.next{right: 0px; float: right;}

.single__pager-inner a span{position: relative;display: table;width: 100%;padding: 15px 20px;}
.aside__tit{font-size: 24px; color: #333333; text-align: center;}
.aside__posts .post{width: 210px;}

.single__social{border-bottom: 1px dashed #9f9f9f; background: #e9e9e9; margin-bottom: 0; padding: 10px;width: 100%;float: left;margin-top: 30px;}
.posts_pager{background: #e9e9e9; padding: 20px 20px 30px; margin: 0; width: 100%;float: left;}
.posts_pager a{width: 49.33333%; float:left;display: block;padding: 0 10px;}
.posts_pager span{display: block; text-align: center;}
.posts_pager__item__ttl{color:#5d8df0; font-size: 18px;}
.posts_pager__item__dsc{color:#333333; font-size: 26px;margin-top: 10px;}

.posts_pager a:hover .posts_pager__item__dsc{color:#5d8df0;}

.mabye{border-top: 7px solid #5173a2;position: relative;text-align: center;width: 100%;float: left;}
.mabye__tit{display: inline-block; margin: 0 auto 20px; background: #5173a2;;font-size: 18px;padding: 2px 7px;}

.single__col2{width: 270px;float: left;}

aside{width: 290px;float: right; background: #ffffff; padding: 5px;}

footer{ padding: 20px 0; display: table; width: 100%; margin-top: 50px; min-height: 50px;}

/* RESPONSIVE
------------------------------------------------------------------------------*/
@media(min-width:1200px){
    .posts .post:nth-child(4n+1){margin-left: 0px;}
}

@media(max-width:1200px){
    .visivle-desctop{display: none!important;}
}

@media(min-width:992px) and (max-width:1199px){
    .container{width: 950px;}
    .single{width: 650px;padding-top: 20px;}
    aside{width: 285px;}
    aside .post{width: 100%;}
    .single__like span{width: 40%;}
    .posts .post{width: 220px;}
    .posts .post + .post{margin-left: 2px;}
    .posts .post:nth-child(4n+1) { margin-left: 0px;}
    .header__search{width: 500px;}
    .single__pager{width: 100%;}
    .aside__posts .post{width: 200px;}
}

@media(max-width: 991px) and (min-width: 768px){
    .container{width: 750px;}
    .single{width: 100%; margin-right:0; border: none;padding-right: 0;}
    .single img{ display: inline-block;  margin-left: auto; margin-right: auto;  width: 100%;}
    aside{width: 100%;}
    .posts .post{width: 30%; margin-left: 1%; margin-right: 1%;}
    aside .post{width: 30%; margin-left: 1%; margin-right: 1%;}
    .posts .post + .post{margin-left: 1%;}
    .logo{ width: 300px;}
    .logo img{ max-width: 100%;}
    .header__search{width: 450px;padding: 11px 20px 11px;}
    .header__search button{top: 17px;}

    .single__pager{width: 100%;}
    .single__col2{width: 100%;text-align: center;}
    .single__col2 div{display: inline-block!important;}
}

@media(min-width:320px) and (max-width:767px){
    .container{width: 100%; padding: 0 15px;}

    .single{width: 100%; border: none;padding-right: 0;}
    aside{width: 100%;display: none;}

    .logo{ width: 100%; background-image: none!important;}
    .logo img{ max-width: 100%;}
    .header__search{width: 100%;padding: 11px 0px 11px;float: left;}
    .header__search button{top: 18px;}

    .posts .post{ margin: 0 auto 20px!important; width: 100%;}
    .posts .post img{ width: 100%; height: auto}

    .single__pager-inner a.prev,
    .single__pager-inner a.next{position: relative; display: block; text-align: center; width: 100%; margin-bottom: 10px;}
    .single__pager-inner a.prev:after,
    .single__pager-inner a.next:after{display: none;}
    .single__pager{width: 100%; margin: 20px 0;}

    .single__col2{display: none;}

    .single__pager-inner a.next span:before, 
    .single__pager-inner a.next span:after,
    .single__pager-inner a.prev span:before,
    .single__pager-inner a.prev span:after{display: none;}

    .posts_pager a{width: 100%;margin: 10px 0;}
    .mabye__tit{width: 100%;}
    .likes{margin-right: 0;}
    .likes button{ width: 100%; margin-bottom: 10px;}
    .stars{text-align: center;}
    .s_tit{margin-left: 0;}
    .social{display: inline-block; float: none; text-align: center;}
}

